
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
     height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: url("https://media.istockphoto.com/id/477921526/photo/flying-above-the-clouds-view-from-the-airplane.jpg?s=612x612&w=0&k=20&c=hIdwXijDKkbOFCdIo4lOOqcKXjBBnuRXBd_vkzAI-_M=") ;
      background-repeat: no-repeat;
      background-size: cover;
      font-family: Arial, sans-serif;
      color: white;
      text-align: center;
      overflow: hidden; 
      gap: 50px;
    }

    h1{
        margin-bottom: 0px;
        margin-top: 100px;
        font-size: 90px;
        text-shadow: 2px 5px 8px black;
    }
    .weather-box {
      background: rgba(0, 0, 0, 0.6);
      padding: 20px;
      border-radius: 15px;
      width: 300px;
    }
    .second{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    input {
      padding: 22px;
      width:500px;
      font-size: 18px;
      border: none;
      border-radius: 8px;
      outline: none;
      text-align: center;
    }

    button {
      padding: 12px 20px;
      font-size: 18px;
      border: none;
      border-radius: 8px;
      background: #007BFF;
      color: white;
      cursor: pointer;
      margin-bottom: 90px; 
      width: 150px;
      margin-left: 170px;
    }

    button:hover {
      background: #0056b3;
    }

    .results {
      display: none;
      /* background: rgba(0, 0, 0, 0.6);s */
      padding: 20px;
      border-radius: 12px;
      width: 320px;
      margin-bottom: 80px;
      margin-left: 100px;
    }

    .results h2 {
      font-size: 50px;
      margin-bottom: 15px;
      color: rgb(19, 117, 156);
    }

    .results p {
      font-size: 20px;
      margin: 5px 0;
      color: black;
    }